---
layout: default
title: Registration
---

<div class="row main">
	<article class="col-md-8 pl-5 pr-5">
    <p>Please ensure that you fill in the registration form properly and completely.</p>
    {% include deadline.html %}

		<h5 align="left">
      <button class="btn btn-success">REGISTRATION</button> (TODO: convert to opening google form)
    </h5>
    <p>
      Once you have filled in all the forms properly and submitted successfully, you will receive an auto-reply via email from google.(no reply email) This is not a confirmation from the committee.
    </p>
    <p>
      The committee will check one by one whether or not each participant has fulfilled the requirements (verification) and sending you the confirmation email. You are officially registered once you receive confirmation email from the committee, have transferred the correct amount of total fees and send proof of transfer as your confirmation.
    </p>
    <p>
      Maximum number of participant is 1000 persons.
    </p>
    <p>
      We recommend that you only join this retreat if you can fulfill all the prerequisites and be wholehearted in joining the retreat. If you have other responsibilities/obligation such as work, children, elderly parents or an unsuitable time zone (if you are not well/elderly) it is better not to force yourself to join. If you are in a different time zone, it is advisable that 1 day before you already adjusted to New York time zone.
    </p>
    <p>
      As it is best to observe the social distancing advice by the government, please only share computers with other healthy members of your family/those who are living with you in the same house. If you are feeling unwell or exhibiting symptoms of flu/covid/other virus, please ensure to self isolate to keep everyone safe.
    </p>
    <hr>
		<h5 align="left">
      LATE CHARGES FOR REGISTRATION & PAYMENT AFTER DEADLINE
    </h5>
    <p>
      Participants who register after March 13, 2021 11pm Los Angeles time and/or complete payment after March 14, 2021 11pm Los Angeles time (if there is still available space), will be penalized $ 25 equivalent /person for late registration fees.
    </p>
    <p>
    Participants who register and complete the payment after March 16, 2021 11pm Los Angeles time (if there is still available space), are subject to late charges of 100% workshop fee. Registration & payment will not be accepted within 12  hours before the first workshop starts.
    </p>
    <hr>
		<h5 align="left">
      PAYMENT
    </h5>
    <p>
      Please do not make a transfer before receiving confirmation email from the committee.
    </p>
    <p>
      Please ensure that you transfer the proper amount. If the transfer is not from your bank account, please be sure to put the name of the participant attending retreat in the memo section of the payment.
    </p>
    <hr>
		<h5 align="left">
      CANCELLATION
    </h5>
    <p>
      Because the retreat will be conducted in a very short time frame from when the registration opens, for those who already submitted the form and have received a confirmation email from the committee, no cancellations are allowed.
    </p>
    <p>
      However, for cancellations due to sudden & unexpected matters, please email: reikitummo.usa@gmail.com at least 1 day before the retreat starts. There will be no refunds for cancellations without prior approval that will be considered on a case by case basis.
    </p>
  </article>
	<div class="col-md-4">
    {% include sidebar.html %}
	</div>
</div>