<header class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row bd-navbar">

  <div class="navbar-nav-scroll" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navlist %}
      <li class="nav-item">
        <a class="{% if item.url_to_match == page.url %}active{% endif %} nav-link" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
			
  </div>
</header>
<img src="{{site.baseurl}}/assets/images/OL_SPR_2021_01.png" class="rounded mx-auto d-block" />
<br/>