<header class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row bd-navbar">

  <div class="navbar-nav-scroll" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="active home" href="/">
					Home
				</a>
			</li>
			<li class="nav-item">
				<a class="fees" href="/fees">
					Fees and Requirements
				</a>
			</li>
			<li class="nav-item">
				<a class="registration" href="/registration">
					Registration / Payment / Cancellation
				</a>
			</li>
			<li class="nav-item">
				<a class="calendar" href="calendar">
					Retreat Calendar
				</a>
			</li>
		</ul>
  </div>
</header>
<img src="/images/banner_germany_2019.jpg" style="max-width:100%; height:auto; display:block" />
<br/>