<div class="well pl-4 pr-5">
  {% include deadline.html %}
 <p class="null"><strong><span style="color: black;">RETREAT SCHEDULE</span></strong></p>
 <div>
   <p class="null"><strong><span style="color: black;">Inner Heart Workshop</span></strong></p>
   <ul>
     <li>Friday, June 18, 2021<br>
       11.00 - 19.00 German time
     </li>
   </ul>
   <p class="null"><strong><span style="color: black;">Spiritual Retreat</span></strong><br>
     Including Preparation to MY1-1, MY1-1, MY1-3 and attunement prayer for MY1-4</p>
   <ul>
     <li>Friday, June 18, 2021<br>
       20.30 - 22.30 German time
     </li>
   </ul>
   <ul>
     <li>Saturday, June 19, 2021<br>
       11.00 - 22.30 German time
     </li>
   </ul>
   <ul>
     <li>Sunday, June 20, 2021<br>
       11.00 - 21.45 German time
     </li>
   </ul>
   <p class="null"><strong><span style="color: black;">MRT&nbsp;</span></strong></p>
   <ul>
     <li>Sunday, June 20, 2021<br>
       22.00 pm - 24.00 German time
     </li>
   </ul>
   <ul>
     <li>Monday, June 21, 2021<br>
       11.00 - 19.00 German time
     </li>
   </ul>
   <p class="null"><strong><span style="color: black;">RESOURCES</span></strong></p>

   <div>
     <p class="null"><a href="/assets/FORM-NEW-SR-PARTICIPANT-STATEMENT-R1.pdf" target="_blank" rel="noopener noreferrer">New SR Participant Statement</a></p>
   </div>
 </div>
</div>
