<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }} - European Retreat</title>
    <!-- link rel="canonical" href="<%= Routes.home_path(@conn, :index) %>" -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }} - European Retreat" />
    <meta property="og:description" content="Translate: SPIRITUAL RETREAT PROGRAM – THE NEXT STEP! We are thrilled to welcome you to our European Retreat website! We are so joyful and grateful to host" />
    <meta property="og:url" content="<%= Routes.home_path(@conn, :index) %>" />
    <meta property="og:site_name" content="European Retreat" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Translate: SPIRITUAL RETREAT PROGRAM – THE NEXT STEP! We are thrilled to welcome you to our European Retreat website! We are so joyful and grateful to be host"/>
    <meta name="twitter:title" content="{{ page.title }} - European Retreat"/>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    <div class="container-fluid">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>